<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated StateMachineDC -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SimplStateMachineDC.presentation.SimplStateMachineDCModelWizardID"
            name="%_UI_SimplStateMachineDCModelWizard_label"
            class="SimplStateMachineDC.presentation.SimplStateMachineDCModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimplStateMachineDCModelFile.gif">
         <description>%_UI_SimplStateMachineDCModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated StateMachineDC -->
      <editor
            id="SimplStateMachineDC.presentation.SimplStateMachineDCEditorID"
            name="%_UI_SimplStateMachineDCEditor_label"
            icon="icons/full/obj16/SimplStateMachineDCModelFile.gif"
            extensions="simplstatemachinedc"
            class="SimplStateMachineDC.presentation.SimplStateMachineDCEditor"
            contributorClass="SimplStateMachineDC.presentation.SimplStateMachineDCActionBarContributor">
      </editor>
   </extension>

</plugin>
