<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="myGrafcet.project.design.Activator"
               id="myGrafcet.project.design"
	       name="projectGrafcet">
    </component>
  </extension>
</plugin>
